.main-container{
  height: 100vh;
  background-color: #474e5d;
  padding: 30px 45px;
}

.line-area{
  height: 50px;
}

.wall{
  height: 100%;
  padding: 15px 0;
  background-color: white;
  overflow-y: auto;
}

.notes{
  display: inline-block;
  padding: 15px;
  background-color: #f5f5f5;
  margin: 5px;
  /* border: solid 1px black; */
  color: #333333;
  width: 250px;
  overflow-x: auto;
  min-height: 250px;
  vertical-align: top;
  position: relative;
}

.notes > h4 {
  border-bottom: 1px solid #ccc;
}

.tag-input{
  background-color: transparent;
  color: #333333;
  margin-bottom: 10px;
}

.des-input{
  background-color: transparent;
  color: #333333;
  margin-bottom: 10px;
  resize: none;
}

.glyphicon {
  position: absolute;
  color: #333333;
  font-size: 16px;
  cursor: pointer;
  border: solid 1px #999999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  padding-top: 7px;
  top: 5px;
}

.glyphicon-trash {
  right: 5px;
}

.glyphicon-remove{
  right: 5px;
}

.glyphicon-pencil{
  right: 40px;
}

.button {
  width: 100%;
  border-radius: none;
}

.add-new-btn{
  width: 150px;
  height: 150px;
  text-align: center;
  padding: 65px 0;
  border-radius: 50%;
  margin: 30px auto;
  color: #888888;
  border: solid 1px #999999;
  cursor: pointer;
}

.add-new-btn:hover{
  background-color: #999999;
  color: white;
}